# Python virtual environment
amed/
venv/
.venv/
__pycache__/
*.pyc

# macOS system files
.DS_Store

# IDEs and editors
.vscode/
.idea/

# Scratch directory
scratch/

# Node / frontend
node_modules/
dist/
*.local
.DS_Store

